.createUser{
    display: flex;
    flex-direction: column;
}

small {
    color: red;
    font-size: 0.9em;
}

.registerContainer{
    width: 100%;
    height: 100%;
    justify-items: center;
    margin-top: 25px;
}

.registerForm{
    width: 100%;
}