<div style="justify-items: center;">
    <h5> Register or Login to access the private area </h5>

    <div class="tab">
        <button class="tablinks" (click)="openTab($event, 'Register')">Register</button>
        <button class="tablinks" (click)="openTab($event, 'Login')">Login</button>
      </div>
      
      <!-- Tab content -->
      <div id="Register" class="tabcontent">
        <app-register></app-register>
      </div>
      
      <div id="Login" class="tabcontent">
        <app-login></app-login>
      </div>
</div>
