.loginInputs{
    display: flex;
    flex-direction: column;
}

small {
    color: red;
    font-size: 0.9em;
}

.loginContainer{
    justify-items: center;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.loginForm{
    width: 100%;
}